// Custom styles.
@media screen and (min-width:1200px) {
    body {
    background-image:url(/images/background.jpeg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    background-position:50% 50%; 
    }
    #footer a {
        color:#eee;
    }
}

// 主页文章添加阴影效果
.post {
   margin-top: 0px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

// Custom styles.
code {
    color: #ff7600;  //代码颜色
    background: #fbf7f8;  //背景颜色
    margin: 2px;  //左右间距
    padding: 2px;  //上下间距
    border: 1px solid #D3D3D3; //边框线
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}